* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*shared style*/
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header 
{
     padding-top: 16px;
}
nav .img {
    margin-left: 120px;
}
nav { 
   
    margin: 0 auto;
    max-width: 1600px;
    border: 1px solid red; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo {
    display: flex;
    list-style-type: none;
    text-decoration: none ;
    
}
nav .logo a{
    text-decoration: none;
    margin-top: 16px;
    gap: 15px;
    
}
.btn { 
    background-color: #30B868; 
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    margin-left: 380px;
    margin-right: 120px;
    font-size: 16px;
    font-weight: 600px;
    color: white;
}
