* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header 
{
     padding-top: 16px;
}
nav .img {
    margin-left: 120px;
}
nav { 
   
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo {
    display: flex;
    list-style-type: none;
    text-decoration: none ;
    
}
nav .logo a{
    text-decoration: none;
    color: black;
    
}
.btn { 
    background-color: #30B868; 
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    margin-left: 380px;
    margin-right: 120px;
    font-size: 16px;
    font-weight: 600px;
    color: white;
}
#banner {
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 1600px;
    height: 674px;
}
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.design {
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 8px 12px;
    background: white;
    border-radius: 20px;
    gap: 8px;
}
.dot {
width: 10px;
height: 10px;
border-radius: 50%;
background-color: #30B868;
}
.dot-text{
    font-size: 16px;
    color: #30B868;

}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;
}
.hero-heading {
    font-size: 54px;
    font-weight: 770;
    line-height: 84px;
    color: white;
}
.hero-green {
   color: #30B868;
}

.hero-para {
    font-size: 18px;
    line-height: 24px;
    color: white;
    max-width: 800px;
}
.hero-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}
.first-btn {
   font-size: 16px;
   background: #30B868;
   color: white;
   padding: 12px 16px;
   font-weight: 700;
   border: none;
   border-radius: 4px;
   
}.arr-btn{
    width: 20px;
    height: 20px;
}
.second-btn {
   font-size: 16px;
   color: white;
   padding: 12px 16px;
   font-weight: 700;
   border: 2px solid white;
   border-radius: 4px;
   background: transparent;

}