* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header 
{
     padding-top: 16px;
}
nav .img {
    margin-left: 120px;
}
nav { 
   
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo {
    display: flex;
    list-style-type: none;
    text-decoration: none ;
    
}
nav .logo a{
    text-decoration: none;
    color: black;
    
}
.btn { 
    background-color: #30B868; 
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    margin-left: 380px;
    margin-right: 120px;
    font-size: 16px;
    font-weight: 600px;
    color: white;
}
#banner {
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 1600px;
    height: 674px;
}
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.design {
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 8px 12px;
    background: white;
    border-radius: 20px;
    gap: 8px;
}
.dot {
width: 10px;
height: 10px;
border-radius: 50%;
background-color: #30B868;
}
.dot-text{
    font-size: 16px;
    color: #30B868;

}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;
}
.hero-heading {
    font-size: 54px;
    font-weight: 770;
    line-height: 84px;
    color: white;
}
.hero-green {
   color: #30B868;
}

.hero-para {
    font-size: 18px;
    line-height: 24px;
    color: white;
    max-width: 800px;
}
.hero-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}
.first-btn {
   font-size: 16px;
   background: #30B868;
   color: white;
   padding: 12px 16px;
   font-weight: 700;
   border: none;
   border-radius: 4px;
   
}.arr-btn{
    width: 20px;
    height: 20px;
}
.second-btn {
   font-size: 16px;
   color: white;
   padding: 12px 16px;
   font-weight: 700;
   border: 2px solid white;
   border-radius: 4px;
   background: transparent;

}


#notes 
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 130px;
}
.notes-header 
{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    max-width: 1360px;
    margin: 0 auto;
}

.note-title
{
    font-size: 48px;
    font-weight: 1360px;
    color: #001931;
}
.note-para {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 1360px;
    color: #627382;
}

.cards {
    display: flex;
    gap: 24px;
} 
.scattered-note
{
    padding: 30px;
    max-width: 322px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.137);
}

.scattered-note img {
    margin-bottom: 16px;
    background: #F95555;
    width: 60px;  
    height: 60px; 
    border-radius: 50%;
    padding: 8px; 
    display: block;
}

.scattered-note h3 {
    color: #001931;
    font-size: 24px;
    font-weight: 700px;
    margin-bottom: 16px;
}
.scattered-note p{
    font-size: 16px;
    color: #627382;
    font-weight: 274px;
    line-height: 20px;  
}

#solution-brain 
{
    margin-top: 120px;
    padding: 0px 120px 0px 80px;
    max-width: 1600px;
    display: flex;
    align-items: center;
    background: white;
    
}

.solution-content{
    flex-direction:row ;
    gap: 70px;
}
.solution-content .half p {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #30B868;
    margin-bottom: 16px;

}
.solution-content .half h1 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;

}
.solution-content .half .solution-desc {
    color: #627382; 
    font-size: 16px;
    margin-bottom: 40px;
    text-align: left;
}
.solution-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.items {
    display: flex;
    align-items: center;
    gap: 12px;
}
.solution-items .items img {
    width: 24px;
    height: 24px;
    flex: none;
}

.item-desc {
    font-size: 16px;
    font-weight: 500;
    color: #001931;
    margin: 0;
}
